<!-- Author Peer Schulze (410246) -->

{% extends 'base.html' %}

{% block title %}Seminarthema bearbeiten{% endblock %}
{% block header %}Seminarthema bearbeiten{% endblock %}

<!--Sidebar wird hier nicht benötigt-->
{% block spezNav %}
{% endblock %}

{% block contentClass %}fullWidth{% endblock %}

{% block content %}

    <!-- Gibt Fehler aus falls eines der Pflichtfelder nicht ausgefüllt/Inhalt entfernt wurde -->
    {% if fehler %}
        <div class="errorMessage">{{ fehler }}</div>
    {% endif %}

    <!-- Alle Felder werden mit bereits gesetzten Attributen geladen -->
    <form method="POST" enctype="multipart/form-data">

        <div class="formColumns">
             <!--Erste Spalte-->
            <div class="formCol">

                <div class="inpt">
                    <label for="titel">Titel</label>
                    <input type="text" id="titel" name="titel" value="{{ titel }}">
                </div>

                <div class="inpt">
                    <label for="oberbegriff">Oberbegriff</label>
                    <input type="text" id="oberbegriff" name="oberbegriff" value="{{ oberbegriff }}">
                </div>

                <div class="inpt">
                    <label for="d_id">Dozent</label>
                    <!-- Erstellt ein Dropdown Menü -->
                    <select id="d_id" name="d_id">
                        <!-- Für jeden Dozenten wird eine Option im Dropdownmenü erstellt. Angezeigt wird der Name -->
                        {% for dozent in dozierenden %}
                            <option value="{{ dozent.d_id }}"
                                {% if dozent.d_id == d_id %}selected{% endif %}>
                                {{ dozent.vorname }} {{ dozent.nachname }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="inpt">
                    <label for="pdf">PDF Upload</label>
                    <input type="file" id="pdf" name="pdf" accept=".pdf">
                    {% if pdf_pfad %}
                        <div class="displayValue">Aktuell hinterlegt: {{ pdf_pfad }}</div>
                    {% endif %}
                </div>

            </div>

            <!--Zweite Spalte-->
            <div class="formCol">

                <div class="inpt">
                    <label for="semester">Semester</label>
                    <input type="number" id="semester" name="semester" value="{{ semester }}">
                </div>

                <div class="inpt">
                    <label for="status">Status</label>
                    <input type="text" id="status" name="status" value="{{ status }}" readonly>
                </div>

                <div class="inpt">
                     <label for="student">Zugewiesener Studierender</label>
                    {% if student %}
                        <div class="inpt">
                            <input type="text" id="student" name="student" value="{{ student.matr_nr }}"
                                   pattern="\d{6,8}" inputmode="numeric">
                        </div>
                        <a href="{{ url_for('themen.profile', student_id=student.s_id) }}" class="link">
                            {{ student.vorname }} {{ student.nachname }}
                        </a>
                    {% else %}
                        <input type="text" id="student" value="Kein Student eingetragen" readonly>
                    {% endif %}
                </div>

                <div class="inpt">
                    <label for="vorgetragen">Vorgetragen</label>
                    {% if student %}
                        <select id="vorgetragen" name="vorgetragen">
                            <option value="True" {% if vorgetragen %}selected{% endif %}>vorgetragen</option>
                            <option value="False" {% if not vorgetragen %}selected{% endif %}>nicht vorgetragen</option>
                        </select>
                    {% else %}
                        <input type="text" id="vorgetragen" value="nicht vorgetragen" readonly>
                    {% endif %}
                </div>
            </div>
        </div>

            <div class="inpt">
                <label for="beschreibung">Beschreibung</label>
                <textarea id="beschreibung" name="beschreibung" rows="5">{{ beschreibung }}</textarea>
            </div>

        <button type="submit" class="link">Speichern</button>

    </form>

{% endblock %}