<!--Author: Tim Deppe (413323)-->

{% extends 'base.html' %}

{% if 'user_id' in session %}
    {% set user_rolle = rolle %}
{% endif %}

{% block title %}Ansicht Bewertungsstatistik{% endblock %}
{% block header %}Ansicht Bewertungsstatistik{% endblock %}

{% block content %}

<!--Persönliche Daten des Students-->
{% if user_info %}
<div class="profilKopf">
    <h2>{{ user_info.get('vorname', '') }} {{ user_info.get('nachname', '') }}</h2>
    <p class="profilKopfMeta">
        Matr.-Nr.: {{ user_info.get('matr_nr', '') }}
        {% if user_info.get('titel') %}
            &nbsp;|&nbsp; Seminarthema: {{ user_info.get('titel', '') }}
        {% else %}
            &nbsp;|&nbsp; Kein Seminarthema ausgewählt
        {% endif %}
    </p>
</div>
{% endif %}

<!--Statistik für Vortragsbewertungen wurde an render_template weitergegeben-->
{% if v_statistik is defined %}
    <div class="statistikContainer column" xmlns="http://www.w3.org/1999/html">
        <h3 class="statistikTitel">Bewertungen Vorträge:</h3>
            <!--Es ist mind. eine Bewertung vorhanden-->
            {% if v_statistik.anzahl_bewertungen %}
            <table class="statistikTabelle">
                <tr class="statistikAnzahlZeile"><td class="statistikTabelle">Anzahl Bewertungen:</td>
                    <td class="statistikWert">{{ v_statistik.get('anzahl_bewertungen', '') }}</td></tr>
                <tr><td class="statistikTabelle">Foliengestaltung:</td>
                    <td class="statistikWert">{{ v_statistik.get('foliengestaltung', '') }}</td></tr>
                <tr><td class="statistikTabelle">Sprachliche Präsentation:</td>
                    <td class="statistikWert">{{ v_statistik.get('sprachliche_praesentation', '') }}</td></tr>
                <tr><td class="statistikTabelle">Präsentationsstil:</td>
                    <td class="statistikWert">{{ v_statistik.get('stil', '') }}</td></tr>
                <tr><td class="statistikTabelle">Zeitliche Gestaltung:</td>
                    <td class="statistikWert">{{ v_statistik.get('zeitliche_gestaltung', '') }}</td></tr>
                <tr><td class="statistikTabelle">Verständnis:</td>
                    <td class="statistikWert">{{ v_statistik.get('verstaendnis', '') }}</td></tr>
                <tr><td class="statistikTabelle">Inhaltliche Aufbereitung:</td>
                    <td class="statistikWert">{{ v_statistik.get('inhalt', '') }}</td></tr>
                <tr><td class="statistikTabelle">Verknüpfung mit anderen Vorträgen:</td>
                    <td class="statistikWert">{{ v_statistik.get('verknuepfung', '') }}</td></tr>
                <tr><td class="statistikTabelle">Diskussionsführung:</td>
                    <td class="statistikWert">{{ v_statistik.get('diskussion', '') }}</td></tr>
                <tr><td class="statistikTabelle">Beteiligung an Diskussionen:</td>
                    <td class="statistikWert">{{ v_statistik.get('beteiligung', '') }}</td></tr>
            </table>
            <!--Keine Vortragsbewertungen vorhanden-->
            {% else %}
            <p>Noch keine Vortragsbewertungen vorhanden.</p>
            {% endif %}
    </div>
<!--Statistik für Vortragsbewertungen wurde nicht an render_template weitergegeben-->
{% else %}
    <p>Noch keine bewerteten Vorträge</p>
{% endif %}

<!--Statistik für Ausarbeitungsbewertung wurde an render_template weitergegeben (nur bei Ansicht von Dozenten)-->
{% if a_statistik is defined %}
    <div class="statistikContainer column ausarbeitungContainer">
        <h3 class="statistikTitel">Bewertung Ausarbeitung:</h3>
        <!--Es gibt eine Bewertung der Ausarbeitung-->
        {% if a_statistik.titel %}
        <table class="statistikTabelle">
            <tr class="statistikAnzahlZeile">
                <td class="statistikLabel">Titel</td>
                <td class="statistikWert">{{ a_statistik.get('titel', '') }}</td>
            </tr>
            <tr><td class="statistikLabel">Umfang</td>
                <td class="statistikWert">{{ a_statistik.get('umfang', '') }}</td></tr>
            <tr><td class="statistikLabel">Referenzen</td>
                <td class="statistikWert">{{ a_statistik.get('referenzen', '') }}</td></tr>
            <tr><td class="statistikLabel">Sprachliche Gestaltung</td>
                <td class="statistikWert">{{ a_statistik.get('sprachliche_gestaltung', '') }}</td></tr>
            <tr><td class="statistikLabel">Inhaltliche Aufbereitung</td>
                <td class="statistikWert">{{ a_statistik.get('inhalt', '') }}</td></tr>
            <tr><td class="statistikLabel">Schwierigkeitsgrad</td>
                <td class="statistikWert">{{ a_statistik.get('schwierigkeitsgrad', '') }}</td></tr>
        </table>
        <!--Es gibt ein Kommentar zur Ausarbeitungsbewertung-->
        {% if a_statistik.get('kommentar') %}
        <p class="kommentarText"><strong>Kommentar:</strong> {{ a_statistik.get('kommentar', '') }}</p>
        {% endif %}
        <!--Keine Bewertung der Ausarbeitung vorhanden-->
        {% else %}
        <p>Noch keine Bewertung der Ausarbeitung vorhanden.</p>
        {% endif %}
    </div>
{% endif %}

<!--Statistik für Seminarleistung wurde an render_template weitergegeben (nur bei Ansicht von Dozenten)-->
{% if l_statistik is defined %}
    <div class="statistikContainer column ausarbeitungContainer">
    <h3 class="statistikTitel">Bewertung Seminarleistung:</h3>
        <!--Es gibt eine Bewertung der Seminarleistung-->
        {% if l_statistik.note %}
        <table class="statistikTabelle">
            <tr class="statistikAnzahlZeile">
                <td class="statistikLabel">Note</td>
                <td class="statistikWert">{{ l_statistik.get('note', '') }}</td>
            </tr>
        </table>
        <!--Keine Bewertung der Seminarleistung vorhanden-->
        {% else %}
        <p>Noch keine Bewertung der Seminarleistung vorhanden.</p>
        {% endif %}
    </div>
{% endif %}
{% endblock %}