<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Deniz Rahnefeld (409637)">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %} Title {% endblock %}</title>
</head>
<body class="{% block body %}column baseBody{% endblock %}">

    <div class="headerDiv">
        <p class="greeting">
            {% block header %}
                Base
            {% endblock %}
        </p>
    </div>

    <div class="mainContainer">

        <div class="iconDiv column">
            <img src="{{ url_for('static', filename='pictures/icon.png') }}" width="100px" height="45px">
        </div>

        <div class="navDiv row">
            <a href="{{ url_for('auth.index') }}" class="link">Startseite</a>
            {% if 'user_id' in session %}
                <a href="{{ url_for('auth.logout') }}" class="link">Logout</a>
            {% else %}
                <a href="{{ url_for('auth.login') }}" class="link">Login</a>
            {% endif %}
            <a href="{{ url_for('auth.register') }}" class="link">Registrieren</a>
            <a href="{{ url_for('auth.profile') }}" class="link">Profil</a>
        </div>

        {% block spezNav %}
        <div class="spezDiv column">
            <div class="text1">Navigation</div>
         {% if 'user_id' in session %}
             {% if user_rolle == 'doz' %}
                 <!--Hier kommen die spezifischen Funktionen für Dozierende hin-->
                <div class="column">
                    <a href="{{ url_for('themen.themen_neu') }}" class="sidebarLinks">Seminarthema anlegen</a>
                    <a href="{{ url_for('themen.themen_uebersicht') }}" class="sidebarLinks">Themenübersicht</a>
                    <a href="" class="sidebarLinks">Funktion3</a>
                    <a href="" class="sidebarLinks">Funktion4</a>
                </div>
             {% elif user_rolle == 'stud' %}
                 <!--Hier kommen die spezifischen Funktionen für Studierende hin-->
                <div class="column">
                    <a href="{{ url_for('themen.themen_uebersicht') }}" class="sidebarLinks">Themenübersicht</a>
                    <a href="" class="sidebarLinks">Funktion2</a>
                    <a href="" class="sidebarLinks">Funktion3</a>
                    <a href="" class="sidebarLinks">Funktion4</a>
                </div>
             {% endif %}
        {% endif %}
        </div>
        {% endblock %}

        <div class="contentDiv column {% block contentClass %}{% endblock %}">
            {% block content %}Hier könnte Ihre Werbung stehen{% endblock %}
        </div>

    </div>

</body>
</html>