<!--Auhtor Deniz Rahnefeld (409637)-->

{% extends 'base.html' %}


{% block title %}Login{% endblock %}
{% block header %}Login{% endblock %}


<!--die Sidebar wird hier nicht benötigt, also wird sie überschrieben-->
{% block spezNav %}
{% endblock %}


<!--Dieser Block sorgt dafür, dass der contentDiv
die gesamte Breite ausnutzt, wenn die Sidebar nicht verwendet wird-->
{% block contentClass %}fullWidth{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}Message">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <form action="{{ url_for('auth.login') }}" method="POST">
        <div class="inpt">
            <label for="email">E-Mail-Adresse</label>
            <input type="email" name="email" id="email" value="{{ values.get('email', '') }}" placeholder="max@mustermail.de" required>
        </div>
        <div class="inpt">
            <label for="passwort">Passwort</label>
            <input type="password" name="passwort" id="passwort" placeholder="...." required>
        </div>
        <button type="submit" class="link submit">Anmelden</button>
    </form>
{% endblock %}