{% extends 'base.html' %}

{% block title %}Registrierung{% endblock %}
{% block header %}Registrierung{% endblock %}

<!--die Sidebar wird hier nicht benötigt, also wird sie überschrieben-->
{% block spezNav %}
{% endblock %}

<!--Dieser Block sorgt dafür, dass der contentDiv
die gesamte Breite ausnutzt, wenn die Sidebar nicht verwendet wird-->
{% block contentClass %}fullWidth{% endblock %}

{% block content %}
    <form action="{{ url_for('auth.register') }}" method="POST">
            <div class="inpt">
                <label for="Vorname">Vorname</label>
                <input type="text" name="Vorname" id="Vorname" value="" placeholder="Max" required>
            </div>
            <div class="inpt">
                <label for="Nachname">Nachname</label>
                <input type="text" name="Nachname" id="Nachname" value="" placeholder="Mustermann" required>
            </div>
            <div class="inpt">
                <label for="Alter">Alter</label>
                <input type="number" name="Alter" id="Alter" value="" placeholder="22" min="0" required>
            </div>
            <div class="inpt">
                <label for="Email">E-Mail-Adresse</label>
                <input type="email" name="Email" id="Email" value="" placeholder="Max@Mustermail.de" required>
            </div>
            <div class="inpt">
                <label for="Passwort">Passwort</label>
                <input type="password" name="Passwort" id="Passwort" value="" placeholder="...." required>
            </div>
            <div class="inpt">
                <label for="Passwort wiederholen">Passwort wiederholen</label>
                <input type="password" name="Passwort wiederholen" id="Passwort wiederholen" value="" placeholder="...." required>
            </div>
            <div class="checkbox">
                <input type="checkbox" name="agb" id="agb" required>
                <label for="agb">Ich akzeptiere die Geschäftsbedingungen *</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" name="newsletter" id="newsletter">
                <label for="newsletter">Ich möchte den Newsletter abonnieren (optional)</label>
            </div>

            <button type="submit" class="link submit">Konto erstellen</button>
    </form>
{% endblock %}

