{% extends 'base.html' %}

{% block title %}Registrierung{% endblock %}
{% block header %}Registrierung{% endblock %}

<!--die Sidebar wird hier nicht benötigt, also wird sie überschrieben-->
{% block spezNav %}
{% endblock %}

<!--Dieser Block sorgt dafür, dass der contentDiv
die gesamte Breite ausnutzt, wenn die Sidebar nicht verwendet wird-->
{% block contentClass %}fullWidth{% endblock %}

{% block content %}
    <form action="{{ url_for('auth.register') }}" method="POST">

        <div class="formColumns">
            <!--Erste Spalte-->
            <div class="formCol">
                <div class="inpt">
                    <label for="vorname">Vorname</label>
                    <input type="text" name="vorname" id="vorname" value="" placeholder="Max" required>
                </div>
                <div class="inpt">
                    <label for="nachname">Nachname</label>
                    <input type="text" name="nachname" id="nachname" value="" placeholder="Mustermann" required>
                </div>
                <!--Hier verwende ich einen text Input, um auch Matrikelnummern die mit 0 beginnen zu ermöglichen.
                Im Backend wird dann geprüft, ob es eine valide positive Zahl ist. -->
                <div class="inpt">
                    <label for="matr_nr">Matrikelnummer</label>
                    <input type="text" name="matr_nr" id="matr_nr" value="" placeholder="123456" required>
                </div>
            </div>
            <!--Zweite Spalte-->
            <div class="formCol">
                <div class="inpt">
                    <label for="email">E-Mail-Adresse</label>
                    <input type="email" name="email" id="email" value="" placeholder="Max@Mustermail.de" required>
                </div>
                <div class="inpt">
                    <label for="passwort">Passwort</label>
                    <input type="password" name="passwort" id="passwort" value="" placeholder="...." required>
                </div>
                <div class="inpt">
                    <label for="passwort_wiederholen">Passwort wiederholen</label>
                    <input type="password" name="passwort_wiederholen" id="passwort_wiederholen" value="" placeholder="...." required>
                </div>
            </div>
        </div>

        <div class="radioRow">
            <p class="textBold">Seminar:</p>

            <input type="radio" id="IIS" name="seminar" value="IIS">
            <label for="IIS">IIS</label>

            <input type="radio" id="WBS" name="seminar" value="WBS">
            <label for="WBS">WBS</label>
        </div>

        <div class="radioRow">
            <p class="textBold">Studiengang:</p>

            <input type="radio" id="WINF" name="studiengang_name" value="WINF">
            <label for="WINF">WINF</label>

            <input type="radio" id="IMIT" name="studiengang_name" value="IMIT">
            <label for="IMIT">IMIT</label>

            <input type="radio" id="AI" name="studiengang_name" value="AI">
            <label for="AI">AI</label>

            <input type="radio" id="IIM" name="studiengang_name" value="IIM">
            <label for="IIM">IIM</label>

            <input type="radio" id="IKU" name="studiengang_name" value="IKU">
            <label for="IKU">IKU</label>
        </div>

        <div class="inpt">
            <p class="textBold">Abschluss:</p>

            <input type="radio" id="B.Sc" name="abschluss" value="B.Sc">
            <label for="B.Sc">B.Sc</label>

            <input type="radio" id="M.Sc" name="abschluss" value="M.Sc">
            <label for="M.Sc">M.Sc</label>
        </div>

        <div class="inpt">
            <label for="seminar_thema">Seminar Thema (optional)</label>
            <input type="text" name="seminar_thema" id="seminar_thema" placeholder="Retrieval-Augmented Generation" required>
        </div>

        <button type="submit" class="link submit">Konto erstellen</button>

    </form>
{% endblock %}

